RedirectMatch ^/devconwest2007(.*) http://squisch.net/rockbox/dcw.html
RedirectPermanent /patches.shtml https://www.rockbox.org/tracker/index.php?type=4
RedirectPermanent /bugs.shtml https://www.rockbox.org/tracker/index.php?type=2
RedirectPermanent /requests.shtml https://www.rockbox.org/tracker/index.php?type=1
RedirectMatch ^/langs(.*) https://www.rockbox.org/wiki/LangFiles
RedirectMatch ^/fonts(.*) https://www.rockbox.org/dl.cgi?bin=fonts

AddType application/octet-stream .mod .ajz .lng .fnt .voice
AddType text/xml .rss
AddDefaultcharset On

### FS #5617 - Redirect from static pages to wiki ###

RedirectPermanent /bugs.html https://www.rockbox.org/tracker/index.php?type=2
RedirectPermanent /cross-gcc.html https://www.rockbox.org/wiki/CrossCompiler
RedirectPermanent /patches.html https://www.rockbox.org/tracker/index.php?type=4
RedirectPermanent /requests.html https://www.rockbox.org/tracker/index.php?type=1
RedirectPermanent /screenshots.html https://www.rockbox.org/wiki/ScreenShots
RedirectPermanent /TODO https://www.rockbox.org/wiki/ReleaseTodo

# /screenshots dir
RedirectPermanent /screenshots/index.html https://www.rockbox.org/wiki/ScreenShots
#RedirectPermanent /screenshots/ https://www.rockbox.org/wiki/ScreenShots

# /docs dir
RedirectPermanent /docs/rvf.html https://www.rockbox.org/wiki/VideoTutorial
RedirectPermanent /docs/index.html https://www.rockbox.org/wiki/DocsIndex
RedirectPermanent /docs/nodo.html https://www.rockbox.org/wiki/NoDo
RedirectPermanent /docs/battery-faq.html https://www.rockbox.org/wiki/BatteryFAQ
RedirectPermanent /docs/credits.html https://git.rockbox.org/?p=rockbox.git;a=blob;f=docs/CREDITS
RedirectPermanent /docs/cygwin_sdk.html https://www.rockbox.org/wiki/CygwinDevelopment
RedirectPermanent /docs/custom_wps_format.html https://www.rockbox.org/wiki/CustomWPS
RedirectPermanent /docs/datasheets.html https://www.rockbox.org/wiki/DataSheets
RedirectPermanent /docs/devicechart.html https://www.rockbox.org/wiki/DeviceChart
RedirectPermanent /docs/faq.html https://www.rockbox.org/wiki/GeneralFAQ
RedirectPermanent /docs/features.html https://www.rockbox.org/wiki/FeatureComparison
RedirectPermanent /docs/firsttime.html https://www.rockbox.org/wiki/DevelopmentGuide
RedirectPermanent /docs/flash.html https://www.rockbox.org/wiki/FlashingRockbox
RedirectPermanent /docs/how_to_compile.html https://www.rockbox.org/wiki/HowToCompile
RedirectPermanent /docs/patch.html https://www.rockbox.org/wiki/WorkingWithPatches
RedirectPermanent /docs/ports.html https://www.rockbox.org/wiki/PortPinAssignments
RedirectPermanent /docs/rvf.html https://www.rockbox.org/wiki/VideoTutorial
RedirectPermanent /docs/tools.html https://www.rockbox.org/wiki/UsefulTools
#RedirectPermanent /docs/ https://www.rockbox.org/wiki/DocsIndex

# /schematics dir
RedirectPermanent /schematics/index.html https://www.rockbox.org/wiki/HardwareSchematics
#RedirectPermanent /schematics/ https://www.rockbox.org/wiki/HardwareSchematics

# /sh-win dir
RedirectPermanent /sh-win/index.html https://www.rockbox.org/wiki/CygwinDevelopment
#RedirectPermanent /sh-win/ https://www.rockbox.org/wiki/CygwinDevelopment

# /mods dir
#RedirectPermanent /mods/harddisk.html https://www.rockbox.org/
RedirectPermanent /mods/index.html https://www.rockbox.org/wiki/DocsIndex#Hardware
RedirectPermanent /mods/disassemble.html https://www.rockbox.org/wiki/DisassemblePlayer
RedirectPermanent /mods/disassemble2.html https://www.rockbox.org/wiki/DisassemblePlayer2
RedirectPermanent /mods/reassemble.html https://www.rockbox.org/wiki/ReassemblePlayer
RedirectPermanent /mods/rs232.html https://www.rockbox.org/wiki
#RedirectPermanent /mods/ https://www.rockbox.org/wiki/DocsIndex#Hardware

# rbutil compat links
RedirectMatch ^/daily/build-info$ http://download.rockbox.org/daily/build-info
RedirectMatch ^/daily/fonts/rockbox-fonts.zip$ http://download.rockbox.org/daily/fonts/rockbox-fonts.zip
RedirectMatch ^/voices/(.*) http://download.rockbox.org/daily/voices/$1
RedirectMatch ^/manual/(.*) http://download.rockbox.org/daily/manual/$1

# irc compat links  -- note, this needs to be in main http config for some reason
RewriteRule ^/irc/rockbox-([0-9][0-9][0-9][0-9])(.*).txt$ http://download.rockbox.org/irc-logs/$1/rockbox-$1$2.txt [L,R=permanent]
