%TMPL:DEF{"rockboxmenu"}%
<body>
<table border=0 cellpadding=7 cellspacing=0>
<tr valign="top">
<td bgcolor="#6887bb" valign="top" rowspan=7 class='leftmenu'>
<br>
<div align="center"><a href="//www.rockbox.org/">
<img src="//www.rockbox.org/rockbox100.png" width=99 height=30 border=0 alt="Rockbox.org home"></a>
</div>
<div style="margin-top:20px">
<div class="submenu">
Downloads
</div>
<img width=16 height=16 src='//www.rockbox.org/silk_icons/package.png' align='top'> <a class="menulink" href="//www.rockbox.org/download/">release</a><br>
<img width=16 height=16 src='//www.rockbox.org/silk_icons/bomb.png' align='top'> <a class="menulink" href="//build.rockbox.org">dev builds</a><br>
<img width=16 height=16 src='//www.rockbox.org/silk_icons/style.png' align='top'> <a class="menulink" href="//www.rockbox.org/wiki/RockboxExtras">extras</a><br>
<img width=16 height=16 src='//www.rockbox.org/silk_icons/palette.png' align='top'> <a class="menulink" href="http://themes.rockbox.org/">themes</a>
<div class="submenu">
Documentation
</div>
<img width=16 height=16 src='//www.rockbox.org/silk_icons/page_white_acrobat.png' align='top'> <a class="menulink" href="//www.rockbox.org/manual.shtml">manual</a><br>
<img width=16 height=16 src='//www.rockbox.org/silk_icons/application_edit.png' align='top'> <a class="menulink" href="//www.rockbox.org/wiki/">wiki</a><br>
<img width=16 height=16 src='//www.rockbox.org/silk_icons/book_open.png' align='top'> <a class="menulink" href="//www.rockbox.org/wiki/TargetStatus">device status</a>
<div class="submenu">
Support
</div>
<img width=16 height=16 src='//www.rockbox.org/silk_icons/comment_edit.png' align='top'> <a class="menulink" href="http://forums.rockbox.org/">forums</a><br>
<img width=16 height=16 src='//www.rockbox.org/silk_icons/email.png' align='top'> <a class="menulink" href="//www.rockbox.org/mail/">mailing lists</a><br>
<img width=16 height=16 src='//www.rockbox.org/silk_icons/group.png' align='top'> <a class="menulink" href="//www.rockbox.org/irc/">IRC</a>
<div class="submenu">
Development
</div>
<img width=16 height=16 src='//www.rockbox.org/silk_icons/bug.png' align='top'> <a class="menulink" href="//www.rockbox.org/tracker/index.php?type=2">bugs</a><br>
<img width=16 height=16 src='//www.rockbox.org/silk_icons/brick.png' align='top'> <a class="menulink" href="http://gerrit.rockbox.org">patches</a><br>
<img width=16 height=16 src='//www.rockbox.org/silk_icons/help.png' align='top'> <a class="menulink" href="//www.rockbox.org/wiki/DevelopmentGuide">dev guide</a>
<div class="submenu">
Search
</div>
<form id="fsform" action="//www.rockbox.org/tracker/index.php" method="get" onSubmit="return fsstrip();">
<input id="taskid" name="show_task" type="text" size="10" maxlength="10" accesskey="t"><br>
<input class="mainbutton" type="submit" value="Flyspray #">
</form>
<br>
<form action="//www.google.com/search">
<input name=as_q size=10><br>
<input value="Web pages" type=submit>
<input type=hidden name=as_sitesearch value="www.rockbox.org">
</form>
<div class="submenu">
Donate
</div>
<p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="585407">
<input type="image" src="//www.rockbox.org/paypal-donate.gif" border="0" name="submit" alt="">
</form>
</div>
</td>
<td bgcolor="#6887bb" width=100%>%TMPL:END%
