BODY, HTML {
 background-color: #b6c6e5;
 color: black;
 margin: 0px;
}

H1 {
 text-decoration:  none;
 font-family:      arial, sans-serif;
 font-style:       normal;
 font-weight:      bold;
 font-size:        150%;
}

H2 {
 text-decoration:  none;
 font-family:      arial, sans-serif;
 font-style:       normal;
 font-weight:      bold;
 font-size:        130%;
}

H3, div.h5, .newsdate {
 text-decoration:  none;
 font-family:      arial, sans-serif;
 font-style:       normal;
 font-weight:      bold;
 font-size:        110%;
}

h3.frontpage {
 margin-top: 5px;
 margin-bottom: 3px;
}

BODY, P, DIV, TD, TH, TR, FORM, OL, UL, LI, INPUT, TEXTAREA, SELECT
{
 text-decoration:  none;
 font-family:      arial, sans-serif;
 font-style:       normal;
 font-size:        13px;
}

hr {
  border: 0;
  color: #666;
  background-color: #666;
  height: 1px;
}

LI {
 margin-top: 3px;
}

P.ind {
 margin-left: 3em;
}

A {
 text-decoration: underline;
}

.bgbox {
 border-left: 1px;
 border-color: #000000;
}

.submenu {
 padding: 2px;
 background-color: #b6c6e5;
 margin-top: 10px;
}

.rightcontent {
 border-left: solid 1px white;
}

.menulink {
 color: #fff;
 line-height: 140%;
}

.wikihead a, .wikihead {
 color: #fff;
}

.menutext {
 color: #fff;
 font-size: 7pt;
}

td.building {
 text-align: center;
 background-color: #d6d6f5
}

.buildok {
 background-color: #00ff00;
}

.buildwarn {
 background-color: #ffff00;
}

.buildfail {
 background-color: #ff8080;
}

.gccwarn {
 background-color: #ffff00;
}

.gccerror {
 background-color: #ff8080;
}

.faqq {
 font-weight: bold;
 font-size: 110%;
}

.faqa {
 margin-left: 2em;
}

PRE {
 font-size: 9pt;
}

.sponsors img {
  overflow: hidden;
}

.sponsors td {
  background-color: #c6d6f5;
  padding: 1em;
}

.leftmenu {
 background-color: #6887bb;
}

.rockbox, .changetable, .bugs, .requests, .patches, .dailymod, .buildstatus, .archive, .buttontable, .changesummary, .tools, .latestmail, .twikichanges, .changetable_front, .news, .sponsors, .blurb
{
 border: outset 1px #ffffff;
}

.rockbox td, .changetable td, .bugs td, .requests td, .patches td, .archive td, .buttontable td, .tools td, .latestmail td, .twikichanges td, .changetable_front td, .news td, .blurb td
{
 background-color: #c6d6f5;
 padding: 4px;
}

table.changetable_front, table.news, table.twikichanges, table.latestmail
{
  width: 100%;
}

.listtable tr {
 vertical-align: top;
}

.filechange {
 background-color: #c6d6f5;
 font-weight: bold;
 padding: 4px;
}

.buildstatus th
{
 vertical-align: bottom;
 min-width: 1.25em;
}

.buildstatus th a
{
 text-decoration: none;
}

.rotate
{
 writing-mode: vertical-lr;
 white-space: nowrap;
 font-weight: normal;
 text-orientation: sideways-right;
 transform: rotate(180deg);
}

.fixed td {
 background-color: #aae8aa;
 padding: 4px;
}

.bad td {
 background-color: #f0c0c0;
}

.feature {
 font-weight: bold;
}

td.fgood {
 background-color: #aae8aa;
}

td.fbad {
 background-color: #f0a0a0;
}

td.toolscat {
 background-color: #b6c6e5;
}

/****** Wiki ******/

.foswikiAlert {
 color: red;
}
 
.foswikiTable td, .foswikiTable th {
  border: 1px solid #888;
}

.twikiDiffLineNumberHeader {
 background-color: #d6e6f5;
}

.twikiDiffChangedHeader {
 background-color: #d0ffd0;
}

.twikiDiffDeletedMarker {
 background-color: #e81412;
}

.twikiDiffAddedMarker {
 background-color: #25e914;
}

.twikiDiffUnchangedText {
 background-color: #b6c6e5;
}

.twikibar {
 border: 2px outset white;
}

.twikiAccessKey {
 border-bottom: solid black 1px;
}

.twikiRevInfo {
 font-size: 80%;
 text-align: right;
}

.TWikiCopyright, .foswikiCopyright {
 font-size: 75%;
 text-align: right;
}

.foswikiTopicInfo {
  margin-top: 5px;
}

.foswikiTopicActions {
  padding: 3px;
}

.foswikiRevInfo {
 text-align: right;
 font-size: 11px;
}

.twikiEmulatedLink {
 text-decoration: underline;
 color: blue;
}

.bstamp {
 text-decoration: none;
}

.bstamp:hover {
 text-decoration: underline;
}

.blink {
 text-decoration: none;
}

.blink:hover {
 text-decoration: underline;
}

.devcon {
  color: #ff0;
  font-weight: bold;
  font-size: 10px; 
}

.sponsor {
  width: 120px;
  font-size: 7pt;
  float: right;
  border: outset 1px #ffffff;
  padding: 3px 3px 3px 3px;
  margin-left: 10px;
}

/* code fragments in twiki: */
.fragment {
/*  border: dotted 1px;*/
  padding: 0 2px 0 5px;
}

.fname {
  font-size: 85%;
}

caption {
   display: none;
}

.ingress {
  font-size: 110%;
}

.foswikiLeft {
  float: left;
  position: relative;
}

.foswikiRight {
  float: right;
  position: relative;
}

.foswikiTopRow {
  margin-top: 0.5em;
  padding-top: 0.2em;
  margin-bottom: 0.2em;
}

.foswikiBottomRow {
  border-bottom: solid 1px #cdf;
  margin-bottom: 0.2em;
  padding-bottom: 0.5em;
}

.foswikiGrayText, .foswikiGrayText a:link, .foswikiGrayText a:visited { 
  color: #333;
}

.foswikiSummary { 
  font-size: 86%;
}

.foswikiSRAuthor { 
  text-align: left;
  width: 15%;
}

.foswikiSRRev { 
  text-align: left;
  width: 30%;
}

/* colors */
.foswikiYellowFG { color:#ffff00; }
.foswikiOrangeFG { color:#ff6600; }
.foswikiRedFG    { color:#ff0000; }
.foswikiPinkFG   { color:#ff00ff; }
.foswikiPurpleFG { color:#800080; }
.foswikiTealFG   { color:#008080; }
.foswikiNavyFG   { color:#000080; }
.foswikiBlueFG   { color:#0000ff; }
.foswikiAquaFG   { color:#00ffff; }
.foswikiLimeFG   { color:#00ff00; }
.foswikiGreenFG  { color:#008000; }
.foswikiOliveFG  { color:#808000; }
.foswikiMaroonFG { color:#800000; }
.foswikiBrownFG  { color:#996633; }
.foswikiBlackFG  { color:#000000; }
.foswikiGrayFG   { color:#808080; }
.foswikiSilverFG { color:#c0c0c0; }
.foswikiWhiteFG  { color:#ffffff; }

.foswikiYellowBG { background-color:#ffff00; }
.foswikiOrangeBG { background-color:#ff6600; }
.foswikiRedBG    { background-color:#ff0000; }
.foswikiPinkBG   { background-color:#ff00ff; }
.foswikiPurpleBG { background-color:#800080; }
.foswikiNavyBG   { background-color:#000080; }
.foswikiBlueBG   { background-color:#0000ff; }
.foswikiTealBG   { background-color:#008080; }
.foswikiAquaBG   { background-color:#00ffff; }
.foswikiLimeBG   { background-color:#00ff00; }
.foswikiGreenBG  { background-color:#008000; }
.foswikiOliveBG  { background-color:#808000; }
.foswikiMaroonBG { background-color:#800000; }
.foswikiBrownBG  { background-color:#996633; }
.foswikiBlackBG  { background-color:#000000; }
.foswikiGrayBG   { background-color:#808080; }
.foswikiSilverBG { background-color:#c0c0c0; }
.foswikiWhiteBG  { background-color:#ffffff; }
